/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFDE98; /* Fondo amarillo */
  transition: background-color 0.3s;
}

/* Estilos para el modo día */
.App {
  text-align: center;
  padding: 20px;
}

/* Estilos para el componente CurrentTemperature */
.current-temperature {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1;
}

/* Estilos para el componente WeatherForecast */
.weather-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para el contenedor .content */
.content {
  margin-top: 10px;
  position: relative; 
}

.forecast-title h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #394240; 
}

/* Estilos para el modo noche */
.night-mode {
  background: linear-gradient(to bottom, #222, #444); /* Fondo de degradado de gris oscuro a gris claro */
  color: #000000; /* Color de texto en modo oscuro */
}

.weather-forecast.night-mode {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.current-temperature.night-mode {
  background: linear-gradient(to bottom, #222, #444); /* Fondo degradado en modo noche */
  color: #000000; /* Color de texto en modo oscuro */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}